root {
    --border: #DDDDDD solid 1px;
    --circle-radius: 82px;
}

.places h1 {
    text-align: left;
    font-size: 30px;
}

/* PLACES */
.places article {
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: #FF5A5F solid 1px;
    border-radius: 4px;
    flex-basis: 390px;
}

/*CONTAINER*/
.placesContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}


/*---////---*/


/* PLACE */
.places article h2 {
    font-size: 30px;
    margin-top: 5px;
    margin-bottom: 0px;
}

/*TAB*/
.firstTabFlex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
}

/* SPACE*/
.price_by_night_filler {
    min-width: 60px;
}

/*PRICE*/
.price_by_night {
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    border-radius: 50%;
    min-width: var(--circle-radius);
    height: var(--circle-radius);
}

/*PRICE*/
.price_by_night p {
    font-size: 40px;
    margin-top: 18px;
    margin-bottom: 0;
}


/*---///---*/


/*TAB*/
.information {
    height: 80px;
    border-top: var(--border);
    border-bottom: var(--border);

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.information>div {
    width: 100px;
}

.information>div div {
    margin-top: 5px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px;
    height: 50px;
}

.maxGuestsImage {
    background-image: url(../images/icon_group.png);
}

.maxRoomsImage {
    background-image: url(../images/icon_bed.png);
}

.maxBathroomsImage {
    background-image: url(../images/icon_bath.png);
}

.information p {
    margin-top: 0px;
}


/*---///---*/


.user p {
    text-align: left;
}
.user {
    margin-top: 20px;
}

.description {
    text-align: left;
}